.App {
  font-family: "Courier New", Courier, monospace;
  color: rgba(39, 33, 36, 0.7);
}
.Body {
  background-color: #d2e4df;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
.searchForm {
  background-color: #c3d1eb;
  border: none;
  border-radius: 16px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.searchFormButton {
  background-color: #93a8d0;
  padding: 17px 30px;
  border: none;
  border-radius: 16px;
  color: white;
  margin-left: 10px;
}
.weatherAppDetails2 {
  font-size: 14px;
  line-height: 16px;
  color: rgba(39, 33, 36, 0.4);
  font-weight: 500;
}
.weatherAppDetails1 {
  font-size: 30px;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  column-gap: 10px;
  display: flex;
  justify-content: space-between;
}
.City {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
  color: rgba(39, 33, 36, 0.7);
}
.tempDigit {
  font-size: 80px;
  color: rgba(39, 33, 36, 0.8);
}
